dcm4che-xdsi/src/main/resources/wsdl/XDS-I.b_ImagingDocumentSource.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!-- This wsdl file is for an XDS-I.b Imaging Document Source Actor It can 
	be used 'as is' to support Imaging Document Source Retrieve Imaging Document 
	Set Transaction using Synchronous Web Services. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:ihe="urn:ihe:iti:xds-b:2007" xmlns:iherad="urn:ihe:rad:xdsi-b:2009" xmlns:wado="urn:dicom:wado:ws:2011"
	xmlns:rs="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" targetNamespace="urn:ihe:rad:xdsi-b:2009"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	name="ImagingDocumentSource">
	<documentation>IHE XDS-I.b Imaging Document Source</documentation>
	<types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:ihe:iti:xds-b:2007"
			xmlns:ihe="urn:ihe:iti:xds-b:2007">
			<!-- Include the message schema -->
			<xsd:include schemaLocation="../schema/IHE/XDS.b_DocumentRepository.xsd" />
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:ihe:rad:xdsi-b:2009"
			xmlns:ihe="urn:ihe:iti:xds-b:2007" xmlns:iherad="urn:ihe:rad:xdsi-b:2009">
			<!-- Include the message schema -->
			<xsd:include schemaLocation="../schema/IHE/XDSI.b_ImagingDocumentSource.xsd" />
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:dicom:wado:ws:2011"
			xmlns:ihe="urn:ihe:iti:xds-b:2007" xmlns:wado="urn:dicom:wado:ws:2011">
			<!-- Include the message schema -->
			<xsd:include schemaLocation="../schema/DICOM/dicom.wado.ws.2011.xsd" />
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified"
			targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0"
			xmlns:rs="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0">
			<!-- Include the message schema -->
			<xsd:include schemaLocation="../schema/ebRS/rs.xsd" />
		</xsd:schema>
		<!-- While no elements are directly used from these schema in the WSDL, 
			they need to be present here in order for code generating toolkits to work 
			properly -->
		<xsd:schema elementFormDefault="qualified"
			targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0"
			xmlns:lcm="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0">
			<!-- Include the message schema -->
			<xsd:include schemaLocation="../schema/ebRS/lcm.xsd" />
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified"
			targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0"
			xmlns:lcm="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0">
			<!-- Include the message schema -->
			<xsd:include schemaLocation="../schema/ebRS/rim.xsd" />
		</xsd:schema>
	</types>
	<message name="RetrieveImagingDocumentSetRequest_Message">
		<documentation>Retrieve Imaging Document Set</documentation>
		<part name="body" element="iherad:RetrieveImagingDocumentSetRequest" />
	</message>
	<message name="RetrieveDocumentSetResponse_Message">
		<documentation>Retrieve Document Set Response</documentation>
		<part name="body" element="ihe:RetrieveDocumentSetResponse" />
	</message>
	<message name="RetrieveRenderedImagingDocumentSetRequest_Message">
		<documentation>Retrieve Rendered Imaging Document Set</documentation>
		<part name="body" element="wado:RetrieveRenderedImagingDocumentSetRequest" />
	</message>
	<message name="RetrieveRenderedImagingDocumentSetResponse_Message">
		<documentation>Retrieve Rendered Document Set Response</documentation>
		<part name="body" element="wado:RetrieveRenderedImagingDocumentSetResponse" />
	</message>
	<portType name="ImagingDocumentSource_PortType">
		<operation name="ImagingDocumentSource_RetrieveImagingDocumentSet">
			<input message="iherad:RetrieveImagingDocumentSetRequest_Message"
				wsaw:Action="urn:ihe:rad:2009:RetrieveImagingDocumentSet" />
			<output message="iherad:RetrieveDocumentSetResponse_Message"
				wsaw:Action="urn:ihe:iti:2007:RetrieveDocumentSetResponse" />
		</operation>
		<operation name="ImagingDocumentSource_RetrieveRenderedImagingDocumentSet">
			<input message="iherad:RetrieveRenderedImagingDocumentSetRequest_Message"
				wsaw:Action="urn:dicom:ws:wado:2011:RetrieveRenderedImagingDocumentSet" />
			<output message="iherad:RetrieveRenderedImagingDocumentSetResponse_Message"
				wsaw:Action="urn:dicom:ws:wado:2011:RetrieveRenderedImagingDocumentSetResponse" />
		</operation>
	</portType>
	<binding name="ImagingDocumentSource_Binding" type="iherad:ImagingDocumentSource_PortType">
		<wsaw:UsingAddressing wsdl:required="true" />
		<soap12:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="ImagingDocumentSource_RetrieveImagingDocumentSet">
			<soap12:operation soapAction="urn:ihe:rad:2009:RetrieveImagingDocumentSet" />
			<input>
				<soap12:body use="literal" />
			</input>
			<output>
				<soap12:body use="literal" />
			</output>
		</operation>
		<operation name="ImagingDocumentSource_RetrieveRenderedImagingDocumentSet">
			<soap12:operation soapAction="urn:dicom:ws:wado:2011:RetrieveRenderedImagingDocumentSet" />
			<input>
				<soap12:body use="literal" />
			</input>
			<output>
				<soap12:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="ImagingDocumentSource">
		<port name="ImagingDocumentSource_Port_Soap12" binding="iherad:ImagingDocumentSource_Binding">
			<soap12:address location="http://servicelocation/ImagingDocumentSource" />
		</port>
	</service>
</definitions>
