dcm4che-xdsi/src/main/resources/wsdl/XDS.b_DocumentRepository.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!-- This wsdl file is for an XDS.b Document Repository Actor -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:ihe="urn:ihe:iti:xds-b:2007" xmlns:rs="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0"
	targetNamespace="urn:ihe:iti:xds-b:2007" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" name="DocumentRepository">
	<documentation>IHE XDS.b Document Repository</documentation>
	<types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:ihe:iti:xds-b:2007"
			xmlns:ihe="urn:ihe:iti:xds-b:2007">
			<!-- Include the message schema -->
			<xsd:include schemaLocation="../schema/IHE/XDS.b_DocumentRepository.xsd" />
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified"
			targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0"
			xmlns:rs="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0">
			<!-- Include the message schema -->
			<xsd:include schemaLocation="../schema/ebRS/rs.xsd" />
		</xsd:schema>
		<!-- While no elements are directly used from these schema in the WSDL, 
			they need to be present here in order for code generating toolkits to work 
			properly -->
		<xsd:schema elementFormDefault="qualified"
			targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0"
			xmlns:lcm="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0">
			<!-- Include the message schema -->
			<xsd:include schemaLocation="../schema/ebRS/lcm.xsd" />
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified"
			targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0"
			xmlns:lcm="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0">
			<!-- Include the message schema -->
			<xsd:include schemaLocation="../schema/ebRS/rim.xsd" />
		</xsd:schema>

		<!-- Importing all schemas within one seems to confuse some parsers and 
			code-generation tools (and may be invalid) <xsd:schema elementFormDefault="qualified"> 
			<xsd:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" schemaLocation="../schema/ebRS/rs.xsd"/> 
			<xsd:import namespace="urn:ihe:iti:xds-b:2007" schemaLocation="../schema/IHE/XDS.b_DocumentRepository.xsd"/> 
			</xsd:schema> -->
	</types>
	<message name="RetrieveDocumentSet_Message">
		<documentation>Retrieve Document Set</documentation>
		<part name="body" element="ihe:RetrieveDocumentSetRequest" />
	</message>
	<message name="RetrieveDocumentSetResponse_Message">
		<documentation>Retrieve Document Set Response</documentation>
		<part name="body" element="ihe:RetrieveDocumentSetResponse" />
	</message>
	<message name="ProvideAndRegisterDocumentSet-b_Message">
		<documentation>Provide and Register Document Set</documentation>
		<part name="body" element="ihe:ProvideAndRegisterDocumentSetRequest" />
	</message>
	<message name="ProvideAndRegisterDocumentSet-bResponse_Message">
		<documentation>Provide And Register Document Set Response
		</documentation>
		<part name="body" element="rs:RegistryResponse" />
	</message>
	<portType name="DocumentRepository_PortType">
		<operation name="DocumentRepository_RetrieveDocumentSet">
			<input message="ihe:RetrieveDocumentSet_Message" wsaw:Action="urn:ihe:iti:2007:RetrieveDocumentSet" />
			<output message="ihe:RetrieveDocumentSetResponse_Message"
				wsaw:Action="urn:ihe:iti:2007:RetrieveDocumentSetResponse" />
		</operation>
		<operation name="DocumentRepository_ProvideAndRegisterDocumentSet-b">
			<input message="ihe:ProvideAndRegisterDocumentSet-b_Message"
				wsaw:Action="urn:ihe:iti:2007:ProvideAndRegisterDocumentSet-b" />
			<output message="ihe:ProvideAndRegisterDocumentSet-bResponse_Message"
				wsaw:Action="urn:ihe:iti:2007:ProvideAndRegisterDocumentSet-bResponse" />
		</operation>
	</portType>
	<binding name="DocumentRepository_Binding" type="ihe:DocumentRepository_PortType">
		<soap12:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="DocumentRepository_ProvideAndRegisterDocumentSet-b">
			<soap12:operation soapAction="urn:ihe:iti:2007:ProvideAndRegisterDocumentSet-b" />
			<input>
				<soap12:body use="literal" />
			</input>
			<output>
				<soap12:body use="literal" />
			</output>
		</operation>
		<operation name="DocumentRepository_RetrieveDocumentSet">
			<soap12:operation soapAction="urn:ihe:iti:2007:RetrieveDocumentSet" />
			<input>
				<soap12:body use="literal" />
			</input>
			<output>
				<soap12:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="DocumentRepository_Service">
		<port name="DocumentRepository_Port_Soap12" binding="ihe:DocumentRepository_Binding">
			<soap12:address location="http://servicelocation/DocumentRepository_Service" />
		</port>
	</service>
</definitions>
